<h3>Manage Phrases Page</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ad illum nulla itaque eaque rem ea placeat nobis natus
  quaerat. Dolores perspiciatis nostrum magnam aperiam deserunt assumenda consequatur, culpa accusamus quod rerum
  perferendis? Vitae aliquid sequi earum quo nisi blanditiis est dolorem rerum molestias facere suscipit, totam sunt.
  Error quis ab totam? Modi reprehenderit accusamus, et necessitatibus cum voluptatem dolore recusandae non odit iusto
  dicta voluptates consectetur veniam officiis dolorum nemo rem sequi assumenda tempore ducimus! Doloribus ratione
  voluptates quisquam veniam laudantium recusandae ducimus, aspernatur sint aliquid facere quod suscipit dicta, animi
  consequatur, quibusdam possimus adipisci nostrum aliquam expedita! Vel mollitia perspiciatis ad aspernatur ipsa ullam
  voluptatem itaque iusto, eius laborum perferendis rem assumenda? Iusto quisquam nam earum aliquid suscipit illum eaque
  ipsam exercitationem dicta mollitia repellat, cum voluptatibus soluta vitae veniam iure ut autem in dolores eligendi
  alias veritatis. Est suscipit exercitationem perspiciatis asperiores, rerum ipsam alias aliquam fugit nam quos eaque
  in modi porro quae officia ipsum expedita voluptate. Itaque laboriosam cum non minima sit enim libero! Molestiae, sunt
  iure excepturi id, maiores facilis accusamus unde porro debitis a aspernatur velit? Nisi consequuntur ducimus
  exercitationem, nobis excepturi error quod numquam quasi, vel fugiat et, dolore illum possimus doloremque?</p>
